.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-items: center;
  overflow: hidden;
  position: relative;
}

.toggleUIMode {
  cursor: pointer;
  color: grey;
  font-size: 9px;
  border: 1px solid grey;
  border-radius: 31px;
  padding: 2px;
  padding-left: 4px;
  height: 1rem;
  position: relative;
  width: 50px;
}

.toggleUIMode::after {
  content: "";
  background: grey;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  bottom: -7px;
  left: calc(50px - 24px);
  transition: all 100ms ease-in-out;
}

@media print {
  .printArea {
    display: grid;
    justify-items: center;
    margin-top: 10px;
  }

  img.addContentImage {
    width: 50%;
  }

  .lists {
    /* grid-template-rows: 77px 80px 100px 90px 87px 87px 87px 87px; */
    margin-top: 5px;
    grid-template-rows: 80px 85px 70px 85px 75px 75px 75px 65px 65px;
    background: rgb(255, 255, 255) !important;
    width: 491px;
  }

  .list {
    background: white;
    margin: 0 !important;
    width: auto !important;
  }
}

.lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  list-style: none;
  width: 491px;
  margin: auto;
  padding: 0;

  /* sticker */
  background: rgb(255, 255, 171);
}

.list {
  padding: 9px;
  font-size: 14px;
  /* styles */
  background: white;
  border-radius: 10px;
  margin: 5px;
  width: 80%;
  height: 50px;
}
.formWrapper h1 {
  margin: 0;
  padding-bottom: 20px;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.pageBreak {
  grid-column: 1 / -1;
  page-break-after: always;
}

.formWrapper {
  width: 60vw;
  background: #1f1f1f;
  padding: 30px;
}

.form {
  width: 100%;
}

input[type="text"],
input[type="number"] {
  height: 62px;
  width: 70%;
  margin: auto;
  border: none;
  padding: 0 35px 0 35px;
  outline: none;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  transition: width 400ms;
}

input.input {
  border-radius: 31px;
  line-height: 1.2;
  font-size: 18px;
  background: #2c2c2c;
  color: #e9e9e9;
}

input.input:focus {
  width: 75%;
}
button {
  font-weight: bold;
}

.buttonGenerate {
  background: var(--darkModeButton);
  font-weight: bold;
  color: white;
  border: none;
  width: 30%;
  border-radius: 31px;
  min-width: 150px;
  font-size: 15px;
  height: 50px;
  margin: auto;
  text-transform: uppercase;
  padding: 0 35px 0 35px;
  outline: none;
  margin-top: 1rem;
  margin-right: 5px;
  cursor: pointer;
  transition: all 400ms;
  text-align: center;
  -webkit-appearance: none;
}
.buttonGenerate:hover,
.buttonGenerate:active,
.buttonGenerate:focus {
  background: var(--lightModeButton);
}

.buttonClear {
  background: var(--accentDarkModeButton);
  color: white;
  border: none;
  width: 30%;
  border-radius: 31px;
  min-width: 150px;
  font-size: 15px;
  height: 50px;
  margin: auto;
  text-transform: uppercase;
  padding: 0 35px 0 35px;
  outline: none;
  margin-top: 1rem;
  cursor: pointer;
  margin-right: 5px;
  transition: all 400ms;
  -webkit-appearance: none;
}
.buttonClear:hover,
.buttonClear:active,
.buttonClear:focus {
  background: var(--accentLightModeButton);
}

.buttonPrint {
  background: #1b1b1b;
  color: white;
  bottom: 0;
  right: 0;
  border: none;
  width: 100%;
  min-width: 150px;
  font-size: 15px;
  height: 62px;
  margin: auto;
  text-transform: uppercase;
  padding: 0 35px 0 35px;
  outline: none;
  margin-top: 1rem;
  cursor: pointer;
  -webkit-appearance: none;
}

.printAreaWrapper {
  padding: 10px;
  width: 100%;
  background: #2c2c2c;
}
.printArea {
  text-align: center;
}

.printArea p {
  color: #ffffff;
}

.pTag {
  font-weight: bold;
  font-size: 2rem;
  margin: auto;
  color: rgb(255, 255, 255);
}

.buttonClear:disabled,
.buttonGenerate:disabled,
.buttonPrint:disabled {
  background: rgb(136, 136, 136);
  color: white;
}

@media only screen and (max-width: 600px) {
  .App {
    flex-direction: column;
    overflow: auto;
  }

  .formWrapper {
    width: 100vw;
    padding: 20px;
  }

  input[type="text"],
  input[type="number"],
  .buttonClear,
  .buttonGenerate {
    width: 100%;
  }

  input.input:focus {
    width: 100%;
  }

  .lists {
    width: 100%;
  }

  .list {
    width: 90%;
  }

  .printAreaWrapper {
    position: relative;
  }

  .printArea {
    position: relative;
  }

  .buttonPrint {
    position: relative;
    top: 100% !important;
    margin: 0;
  }
}
