body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --lightModeButton: #0072a7;
  --darkModeButton: #00496b;

  --accentLightModeButton: #e00069;
  --accentDarkModeButton: #a1004b;

  --lightModeFont: #2e2e41;
}
